<footer class="site-footer h-card">
    <data class="u-url" href="/"></data>
  
    <div class="wrapper">
  
      <h2 class="footer-heading">Lucy and Vera Marriage Celebration</h2>
  
      <div class="footer-col-wrapper">
        <div class="footer-col footer-col-1">
          <ul class="contact-list">
            <li class="p-name">E-mail us!</li><li><a class="u-email" href="mailto:lucyandvera@proton.me">lucyandvera@proton.me</a></li></ul>
        </div>
  
        <div class="footer-col footer-col-2">
  </div>
  
        <div class="footer-col footer-col-3">
          <p><i>Lucy and Vera: the Richard Nixon and Henry Kissinger of beautiful trans women!</i></p>
        </div>
      </div>
  
    </div>
  </footer>